@using SportPlus.BLL.ModelVM.User
@model UserProfileVM
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <header class="site-navbar py-4" role="banner">
        <section class="sec">
            <div class="d-flex align-items-center">
                <div class="site-logo">
                </div>
                <div class="ml-auto">

                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white">
                        <span class="icon-menu h3 text-white"></span>
                    </a>
                </div>
            </div>
        </section>

    </header>


    <div class="container py-5">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">

                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">John Smith</h5>
                    <p class="text-muted mb-1">Full Stack Developer</p>
                    <p class="text-muted mb-4">@Model.Country</p>

                    <div class="d-flex justify-content-center mb-2">
                    </div>
                </div>

                <div class="Update-Profile">
                    <button asp-controller="Account" onclick="window.location.href = 'UpdateProfile';" type="button" class="btn btn-primary btn-block">Update Profile  </button>
                </div>

            </div>
        </div>

        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Full Name</p>
                        </div>

                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.FullName</p>
                        </div>

                    </div>
                    <hr>
                    <div class="row">

                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>

                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Email</p>
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Phone</p>
                        </div>

                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.PhoneNumber</p>
                        </div>

                    </div>
                    <hr>
                    <div class="row">

                        <div class="col-sm-3">
                            <p class="mb-0">Favourite Team</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.FavouriteTeam</p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Country</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Country</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>