@model Tuple<StandingRoot?, TopScorerRoot?, TopScorerRoot?>
@{
    ViewData["Title"] = "Standings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
#league{
    margin:20px;
    margin-left:650px;
    border:5px solid red;
}

#top{
    display:flex;
    justify-content:space-between
}

#scorers{
    margin:20px;
    width:700px;
    border:5px solid red;
}


#assisters{
        margin: 20px;
        margin-left:430px;
        width: 700px;
        border: 5px solid red;
}








</style>


<!-- Right table of the current match -->
<body>
    <div class="hero overlay">
        <img src="~/images/bg_3.jpg" />
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 mx-auto text-center">
                    <h1 class="text-white">Input Team Statistics</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
        <!-- Standings Table -->
        <div id="league">
        @if (Model.Item1 != null && Model.Item1.Response?.Count > 0)
        {
            foreach (var leagueResponse in Model.Item1.Response)
            {
                var league = leagueResponse?.League;
                if (league != null && league.Standings?.Count > 0)
                {
                    <table class="table custom-table" style="width:400px;margin-left:500px;">
                        <thead>
                            <tr>
                                <th colspan="7">
                                    <img src="@league.Logo" alt="@league.Name Logo" style="height: 30px;" />
                                    @league.Name
                                </th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>Team</th>
                                <th>P</th>
                                <th>W</th>
                                <th>D</th>
                                <th>L</th>
                                <th>PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var standing in league.Standings[0])
                            {
                                <tr>
                                    <td>@standing?.Rank</td>
                                    <td>
                                        <strong class="text-white">
                                            <img src="@standing?.Team?.Logo" alt="@standing?.Team?.Name Logo" style="height: 20px;" />
                                            @standing?.Team?.Name
                                        </strong>
                                    </td>
                                    <td>@standing?.All?.Played</td>
                                    <td>@standing?.All?.Win</td>
                                    <td>@standing?.All?.Draw</td>
                                    <td>@standing?.All?.Lose</td>
                                    <td>@standing?.Points</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        }
        </div>
        <!-- Top Scorers Table -->
        <div id = "top">
            <div id="scorers">
        @if (Model.Item2 != null && Model.Item2.Response?.Count > 0)
        {
                <table class="table custom-table" style="width:400px;margin-left:500px;">
                <thead>
                    <tr>
                        <th colspan="5">Top Scorers</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Player</th>
                        <th>Team</th>
                        <th>Goals</th>
                        <th>Assists</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (response, index) in Model.Item2.Response.Select((response, index) => (response, index + 1)))
                    {
                        var player = response?.Player;
                        var stats = response?.Statistics?.FirstOrDefault();
                        <tr>
                            <td>@index</td>
                            <td>
                                <strong class="text-white">
                                    <img src="@player?.Photo" alt="@player?.Name Photo" style="height: 20px;" />
                                    @player?.Name
                                </strong>
                            </td>
                            <td>
                                <img src="@stats?.Team?.Logo" alt="@stats?.Team?.Name Logo" style="height: 20px;" />
                                @stats?.Team?.Name
                            </td>
                            <td>@stats?.Goals?.Total</td>
                            <td>@stats?.Goals?.Assists</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        </div>

        <!-- Top Assisters Table -->
        <div id="assisters">
        @if (Model.Item3 != null && Model.Item3.Response?.Count > 0)
        {
                <table class="table custom-table" style="width:400px;margin-left:500px;">
                <thead>
                    <tr>
                        <th colspan="5">Top Assisters</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Player</th>
                        <th>Team</th>
                        <th>Assists</th>
                        <th>Goals</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (response, index) in Model.Item3.Response.Select((response, index) => (response, index + 1)))
                    {
                        var player = response?.Player;
                        var stats = response?.Statistics?.FirstOrDefault();
                        <tr>
                            <td>@index</td>
                            <td>
                                <strong class="text-white">
                                    <img src="@player?.Photo" alt="@player?.Name Photo" style="height: 20px;" />
                                    @player?.Name
                                </strong>
                            </td>
                            <td>
                                <img src="@stats?.Team?.Logo" alt="@stats?.Team?.Name Logo" style="height: 20px;" />
                                @stats?.Team?.Name
                            </td>
                            <td>@stats?.Goals?.Assists</td>
                            <td>@stats?.Goals?.Total</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        </div>
    </div>
</body>